In [11]:
#loading the libraries
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
df = pd.read_csv(r"C:\Users\afiroz\Downloads\creditcard.csv")

In [23]:
#exploring the dataset
df.head(5)

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [16]:
#exploring the dataset
df.tail(5)

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
284802,172786.0,-11.881118,10.071785,-9.834783,-2.066656,-5.364473,-2.606837,-4.918215,7.305334,1.914428,...,0.213454,0.111864,1.014480,-0.509348,1.436807,0.250034,0.943651,0.823731,0.77,0
284803,172787.0,-0.732789,-0.055080,2.035030,-0.738589,0.868229,1.058415,0.024330,0.294869,0.584800,...,0.214205,0.924384,0.012463,-1.016226,-0.606624,-0.395255,0.068472,-0.053527,24.79,0
284804,172788.0,1.919565,-0.301254,-3.249640,-0.557828,2.630515,3.031260,-0.296827,0.708417,0.432454,...,0.232045,0.578229,-0.037501,0.640134,0.265745,-0.087371,0.004455,-0.026561,67.88,0
284805,172788.0,-0.240440,0.530483,0.702510,0.689799,-0.377961,0.623708,-0.686180,0.679145,0.392087,...,0.265245,0.800049,-0.163298,0.123205,-0.569159,0.546668,0.108821,0.104533,10.00,0
284806,172792.0,-0.533413,-0.189733,0.703337,-0.506271,-0.012546,-0.649617,1.577006,-0.414650,0.486180,...,0.261057,0.643078,0.376777,0.008797,-0.473649,-0.818267,-0.002415,0.013649,217.00,0

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [21]:
#checking the num of missing values in each column
df.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [22]:
#distribution of legit transaction and fradulent transaction
df['Class'].value_counts()

Class
0    284315
1       492
Name: count, dtype: int64

label 1 represents fradulent trnsactions

label 0 represents transactions

In [29]:
#separating the data for analysis
legit = df[df.Class == 0]
fraud = df[df.Class == 1]

In [27]:
legit.shape

(284315, 31)

In [30]:
fraud.shape

(492, 31)

In [32]:
#statistical measure of data
legit.Amount.describe()

count    284315.000000
mean         88.291022
std         250.105092
min           0.000000
25%           5.650000
50%          22.000000
75%          77.050000
max       25691.160000
Name: Amount, dtype: float64

In [33]:
fraud.Amount.describe()

count     492.000000
mean      122.211321
std       256.683288
min         0.000000
25%         1.000000
50%         9.250000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

In [34]:
#compare the values for both transaction
df.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94838.202258,0.008258,-0.006271,0.012171,-0.007860,0.005453,0.002419,0.009637,-0.000987,0.004467,...,-0.000644,-0.001235,-0.000024,0.000070,0.000182,-0.000072,-0.000089,-0.000295,-0.000131,88.291022
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

Under Sampling: Building a sample dataset containing similar distribution of the normal tansctions and fradulent transactions.

In [143]:
legit_sample = legit.sample(n=492)

In [144]:
fraud_sample = fraud.sample(n=492)

In [145]:
#concatenating two dataframes
new_df=pd.concat([legit_sample,fraud_sample],axis = 0) # axis 0 means rows, axis 1 means columns

In [146]:
new_df.tail(5)

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
9035,12597.0,-2.589617,7.016714,-13.705407,10.343228,-2.954461,-3.055116,-9.301289,3.349573,-5.654212,...,1.887738,0.333998,0.287659,-1.186406,-0.690273,0.631704,1.934221,0.789687,1.00,1
79883,58222.0,-1.322789,1.552768,-2.276921,2.992117,-1.947064,-0.480288,-1.362388,0.953242,-2.329629,...,0.614969,-0.195200,0.590711,-0.233378,-0.164285,-0.277498,0.428610,0.246394,270.00,1
11710,20011.0,-14.724627,7.875157,-21.872317,11.906170,-8.348734,-2.262846,-15.833443,0.077874,-6.356833,...,-2.362345,1.099557,1.037199,-1.036359,-0.254777,0.642343,2.161129,-1.401282,1.00,1
17366,28658.0,-28.524268,15.876923,-29.468732,6.447591,-20.786000,-4.865613,-19.501084,18.748872,-3.642990,...,1.805770,-2.119376,-1.317450,0.169846,2.051687,-0.210502,1.301734,0.380246,99.99,1
150669,93860.0,-10.632375,7.251936,-17.681072,8.204144,-10.166591,-4.510344,-12.981606,6.783589,-4.659330,...,2.715357,0.695603,-1.138122,0.459442,0.386337,0.522438,-1.416604,-0.488307,188.52,1

In [147]:
new_df.head(5)

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
255249,157135.0,-0.774565,1.716531,-0.821854,-0.746398,0.669061,-0.897141,1.005827,-0.093866,0.681255,...,-0.464275,-0.896932,0.153093,0.619927,-0.210467,0.127842,0.649096,0.342781,16.68,0
219596,141794.0,2.021695,-0.128997,-1.655516,0.361854,0.040201,-1.472773,0.455105,-0.403340,0.814933,...,0.106861,0.375523,-0.005052,-0.043443,0.329098,-0.516155,-0.021936,-0.056753,35.00,0
135981,81493.0,-0.728551,0.817813,1.020228,-0.373205,-0.336012,-0.174276,1.572758,-0.210281,-1.098081,...,-0.297230,-0.992029,-0.064092,0.034608,0.042445,0.832339,-0.117696,-0.007821,172.00,0
99043,66935.0,0.958607,-2.027451,0.607805,-1.229139,-2.092035,-0.096767,-1.254785,0.177775,-1.616247,...,0.148136,0.233138,-0.135849,0.176499,0.063501,-0.121430,0.009816,0.051179,239.00,0
31047,36188.0,0.848680,-0.749388,-0.080186,0.343577,-0.807018,-0.880019,0.244423,-0.104415,0.212158,...,0.080057,-0.205492,-0.231007,0.590074,0.355742,1.044630,-0.147157,0.016339,207.00,0

In [148]:
new_df['Class'].value_counts()

Class
0    492
1    492
Name: count, dtype: int64

In [149]:
new_df.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,96406.802846,0.091295,-0.130704,0.008578,-0.152045,0.003917,-0.009187,0.055178,0.017001,0.061410,...,0.012787,-0.018505,0.031157,-0.012770,0.016426,0.028232,-0.023387,0.012256,-0.012115,92.934431
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

In [150]:
#Spliting the data into features and target
X = new_df.drop(columns = 'Class',axis = 1)
Y = new_df['Class']

In [151]:
X

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
255249,157135.0,-0.774565,1.716531,-0.821854,-0.746398,0.669061,-0.897141,1.005827,-0.093866,0.681255,...,0.524973,-0.464275,-0.896932,0.153093,0.619927,-0.210467,0.127842,0.649096,0.342781,16.68
219596,141794.0,2.021695,-0.128997,-1.655516,0.361854,0.040201,-1.472773,0.455105,-0.403340,0.814933,...,-0.281225,0.106861,0.375523,-0.005052,-0.043443,0.329098,-0.516155,-0.021936,-0.056753,35.00
135981,81493.0,-0.728551,0.817813,1.020228,-0.373205,-0.336012,-0.174276,1.572758,-0.210281,-1.098081,...,0.099311,-0.297230,-0.992029,-0.064092,0.034608,0.042445,0.832339,-0.117696,-0.007821,172.00
99043,66935.0,0.958607,-2.027451,0.607805,-1.229139,-2.092035,-0.096767,-1.254785,0.177775,-1.616247,...,-0.005307,0.148136,0.233138,-0.135849,0.176499,0.063501,-0.121430,0.009816,0.051179,239.00
31047,36188.0,0.848680,-0.749388,-0.080186,0.343577,-0.807018,-0.880019,0.244423,-0.104415,0.212158,...,0.209571,0.080057,-0.205492,-0.231007,0.590074,0.355742,1.044630,-0.147157,0.016339,207.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9035,12597.0,-2.589617,7.016714,-13.705407,10.343228,-2.954461,-3.055116,-9.301289,3.349573,-5.654212,...,1.488855,1.887738,0.333998,0.287659,-1.186406,-0.690273,0.631704,1.934221,0.789687,1.00
79883,58222.0,-1.322789,1.552768,-2.276921,2.992117,-1.947064,-0.480288,-1.362388,0.953242,-2.329629,...,0.988493,0.614969,-0.195200,0.590711,-0.233378,-0.164285,-0.277498,0.428610,0.246394,270.00
11710,20011.0,-14.724627,7.875157,-21.872317,11.906170,-8.348734,-2.262846,-15.833443,0.077874,-6.356833,...,0.996469,-2.362345,1.099557,1.037199,-1.036359,-0.254777,0.642343,2.161129,-1.401282,1.00
17366,28658.0,-28.524268,15.876923,-29.468732,6.447591,-20.786000,-4.865613,-19.501084,18.748872,-3.642990,...,1.706889,1.805770,-2.119376,-1.317450,0.169846,2.051687,-0.210502,1.301734,0.380246,99.99
150669,93860.0,-10.632375,7.251936,-17.681072,8.204144,-10.166591,-4.510344,-12.981606,6.783589,-4.659330,...,-0.810146,2.715357,0.695603,-1.138122,0.459442,0.386337,0.522438,-1.416604,-0.488307,188.52

In [152]:
Y.head()

255249    0
219596    0
135981    0
99043     0
31047     0
Name: Class, dtype: int64

In [153]:
#spliting into training and testing data

X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size = 0.2, stratify = Y, random_state = 2)

#0.2 means 20 percentage
#random_state will split the data in same way

In [154]:
print(X.shape, X_train.shape, X_test.shape)

(984, 30) (787, 30) (197, 30)

In [155]:
print(Y.shape, Y_train.shape, Y_test.shape)

(984,) (787,) (197,)

In [156]:
#model training
#Using Logistic Regression for binry classification problems
model = LogisticRegression()

In [157]:
model.fit(X_train, Y_train)

LogisticRegression()

In [158]:
# Model Evaluation
# accuracy on trining data
X_train_prediction = model.predict(X_train)
training_data_accuracy= accuracy_score(X_train_prediction, Y_train)

In [162]:
print("Accuracy on Training Data:", training_data_accuracy )

Accuracy on Training Data: 0.9440914866581956

In [163]:
#accuracy on test data
X_test_prediction = model.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)

In [164]:
print("Accuracy Score on test data:", test_data_accuracy)

Accuracy Score on test data: 0.9441624365482234